streamlit
pandas
openpyxl
Pillow
pyxlsb
streamlit-pdf-viewer
python-multipart==0.0.28
rpds-py==0.30.0
six==1.17.0
smmap==5.0.3
tenacity==9.1.4
toml==0.10.2
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.7.0
watchdog==6.0.0
websockets==16.0